n8n/n8n workflow.json/Ecommerce Price Alert – Option B (Price Drop).json
{
  "name": "Ecommerce Price Alert – Option B (Price Drop)",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        464,
        -416
      ],
      "id": "5ccb626b-c3c5-4e42-80d6-1dfb099a5abd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/products",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        -416
      ],
      "id": "46b150aa-374c-4e9a-836b-07228635aa55",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldToSplitOut": "products",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        912,
        -416
      ],
      "id": "822838d9-386f-4f67-bad4-ebe78b52f726",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a65c108-57b6-4ace-ba34-015a63b8f607",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "96b216dd-753c-40cf-b6a9-82e8c8e79b09",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "e42e5c45-30b2-4f9a-96b9-76897bac9391",
              "name": "category",
              "value": "={{ $json.category }}",
              "type": "string"
            },
            {
              "id": "29759185-b33a-46f1-91ab-1fb991d0f577",
              "name": "price",
              "value": "={{ $json.price }}",
              "type": "number"
            },
            {
              "id": "c95a9f31-fb16-479a-b2b4-62fa605784a2",
              "name": "rating",
              "value": "={{ $json.rating }}",
              "type": "number"
            },
            {
              "id": "e8da9b58-cf99-4b76-8de8-d5243d4ce30e",
              "name": "stock",
              "value": "={{ $json.stock }}",
              "type": "number"
            },
            {
              "id": "4f49fa1f-c904-44f5-b5b0-a87b3e6aa08e",
              "name": "fetched_at",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1136,
        -416
      ],
      "id": "aaf0b643-c5a9-42ff-a0d6-40d312859608",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b27bd4eb-b2b3-435a-9c0e-fb6c313d2ccd",
              "leftValue": "={{ $json.price_dropped }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2032,
        -416
      ],
      "id": "5069cdc7-d852-42f5-a1cf-5306e86ed522",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "sanjanavignesh1812@gmail.com",
        "subject": "=🔻 Price Drop Alert: {{$json.title}}",
        "message": "=Product: {{$json.title}} Old Price: {{$json.previous_price}}\nNew Price: {{$json.current_price}}\nTime: {{$json.fetched_at}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2480,
        -416
      ],
      "id": "2ec938d1-444b-469b-9fd8-42875bcfc401",
      "name": "Send a message",
      "webhookId": "3ed69d7d-92d6-409a-bb09-cba657717e5e",
      "credentials": {
        "gmailOAuth2": {
          "id": "CM00JuvNYGiTrxUr",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U",
          "mode": "list",
          "cachedResultName": "ecommerce_price_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": "={{ $json.id }}",
            "title": "={{ $json.title }}",
            "price": "={{ $json.current_price }}",
            "fetched_at": "={{ $json.fetched_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fetched_at",
              "displayName": "fetched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previous_price",
              "displayName": "previous_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_price",
              "displayName": "current_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price_dropped",
              "displayName": "price_dropped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2256,
        -416
      ],
      "id": "6f57c6f4-1f6f-4367-9042-59838905de51",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bHqMaOcETglcgqRf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U",
          "mode": "list",
          "cachedResultName": "ecommerce_price_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "title": "={{ $json.title }}",
            "category": "={{ $json.category }}",
            "price": "={{ $json.price }}",
            "rating": "={{ $json.rating }}",
            "stock": "={{ $json.stock }}",
            "fetched_at": "={{ $json.fetched_at }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock",
              "displayName": "stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fetched_at",
              "displayName": "fetched_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -416
      ],
      "id": "870eba7d-8dcc-4827-9f8c-8cc53beed515",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bHqMaOcETglcgqRf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U",
          "mode": "list",
          "cachedResultName": "ecommerce_price_history",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KYUR7dHGXkZAHAUGamSMdmkeBwHSOwXWhlL6mZ8wX6U/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1584,
        -416
      ],
      "id": "0863c2ec-8a60-4c38-a229-60e5ba746cab",
      "name": "Get row(s) in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bHqMaOcETglcgqRf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = items.map(i => i.json);\n\n// sort by fetched_at (oldest → newest)\nrows.sort((a, b) => new Date(a.fetched_at) - new Date(b.fetched_at));\n\n// if only one record exists, no comparison\nif (rows.length < 2) {\n  return [{\n    json: {\n      ...rows[rows.length - 1],\n      price_dropped: false,\n      previous_price: null,\n      current_price: rows[rows.length - 1].price\n    }\n  }];\n}\n\nconst previous = rows[rows.length - 2];\nconst current = rows[rows.length - 1];\n\nreturn [{\n  json: {\n    id: current.id,\n    title: current.title,\n    previous_price: Number(previous.price),\n    current_price: Number(current.price),\n    price_dropped: Number(current.price) < Number(previous.price),\n    fetched_at: current.fetched_at\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        -416
      ],
      "id": "cdce3691-1f74-46ba-a339-f58b8d3ce971",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1021c87a-8bdf-4a43-b668-10604c54af6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b78b24af8ed19da7997bf3b51790aeabc68d2132720e6b66e97743e10df00ce8"
  },
  "id": "JZYNaJf6qTR6GMiA",
  "tags": []
}